/* Global Styles */

html {
    line-height: 0;
}

body {
	width: 100%;
	overflow-x: clip;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/* Margin & Padding */

 .margin-default{
    	margin:0 80px;
    }


/* Backgrounds */

.bg-grey {
	background: var(--Grey, #F4F4F4);
	padding: 100px 80px 100px 80px;
}

.bg-blue {
	background: #128EB7;
}

/* Image Options */

.hero-img-mobile {
    width: 100%;
    height:auto;
    object-fit: cover;
}

.img-crop {
	height: 300px;
	overflow: hidden;
}

.img-crop-longer {
	height: 600px;
	overflow: hidden;
}



/* Text Styles */

.white-text {
	color: #FFF;
}

.underline {
	text-decoration-line: underline;
}


OSYS {
	color: black;
	font-family: "Poppins";
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


h5 {
	color: black;
	font-family: "Poppins";
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.nav-content {
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
	color: #FFF;
	font-family: "Poppins";
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.28px;
	line-height: 120%
}

h1-mobile {
	color: #FFF;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -0.72px;
}

h2 {
	color: #000;
	font-family: "Poppins";
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
}

h2-mobile {
	color: #000;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 36px */
	letter-spacing: -0.6px;
}

h3 {
	font-family: "Inter";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.48px;
}

h3-bold {
	font-family: "Inter";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.48px;	
}

h4 {
	color: #000;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

h4-bold {
	color: #000;
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

Footer-links {
	color: #000;
	font-family: "Inter";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
	letter-spacing: -0.64px;
}

Footer-links-mobile {
	color: #000;
	font-family: "Inter";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
	letter-spacing: -0.64px;
}


land-acknowledgement {
	color: #000;
	font-family: "Inter";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

land-acknowledgement-mobile {
	color: #000;
	font-family: "Inter";
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	align-self: stretch;
}

p {
	color: black;
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

.p-bold {
	color: #FFF;
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

button {
	color: #FFF;
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 21.6px */
	letter-spacing: -0.36px;
}

body-small {
	color: #000;
	font-family: "Inter";
	font-size: 14px;
	font-style: normal;
	font-weight: regular;
	line-height: 140%;
	}

footer-links {
	color: #000;
	font-family: "Inter";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
	letter-spacing: -0.64px;
}

/* Buttons */

.btn-orange {
	border-radius: 11.25px;
	background: #D57F23;
	display: inline-flex;
	padding: 19.5px 18.75px 19.25px 18.75px;
	justify-content: center;
	align-items: center;
	border: transparent;
}

.btn-orange-long {
	border-radius: 11.25px;
	border: none;
	background: #C87E2D;
	display: flex;
	width: 240px;
	height: 60.75px;
	padding: 19.5px 47.75px 19.25px 47.25px;
	justify-content: center;
	align-items: center;
}

.btn-transparent {
	border-radius: 11.25px;
	border: 2px solid #FFF;
	background: #128EB7;
	display: flex;
	width: 155.25px;
	height: 60.75px;
	padding: 19.5px 47px 19.25px 47.25px;
	justify-content: center;
	align-items: center;
}

.btn-transparent-long {
	border-radius: 11.25px;
	border: 2px solid #FFF;
	background: #128EB7;
	display: inline-flex;
	padding: 19.5px 31.5px 19.25px 31.5px;
	justify-content: center;
	align-items: center;
}

.btn-blackborder {
	border-radius: 11.25px;
	border: 2px solid #000;
	background: #FFF;
	display: inline-flex;
	padding: 19.5px 21.5px 19.25px 21px;
	justify-content: center;
	align-items: center;
	color: black;
}

.btn-blackborder-long{
	border-radius: 11.25px;
	border: 2px solid #000;
	background: #FFF;
	display: inline-flex;
	padding: 19.5px 25.25px 19.25px 24.75px;
	justify-content: center;
	align-items: center;
	color: black;
}

.btn-see-more-events {
	display: flex;
	height: 100px;
	width: 321px;
	padding: 159px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #128EB7;
}

.btn-see-more-mobile {
	display: flex;
	height: 5px;
	width: 321px;
	padding: 159px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #128EB7;
}

.btn-round-orange {
	display: flex;
	padding: 17px 40px 17px 26px;
	align-items: center;
	color: white;
	border-radius: 70px;
	background: var(--Color, #D57F23);
	border: transparent;
	font-weight: 400;
}

.btn-round-grey {
	display: flex;
	padding: 17px 41px;
	justify-content: center;
	align-items: center;
	color: black;
	border-radius: 70px;
	background: #E0E0E0;
	border: transparent;
	font-weight: 400;

}


/* HEADER */

.nav-container {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 103px;
}

.nav-container-mobile {
	display: flex;
	height: 103px;
	padding: 22px 0px 21px 24px;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 67px;
}

.nav-flex {
	display: flex;
	width: 1353px;
	justify-content: space-between;
	align-items: center;}

.nav-content {
	display: flex;
	padding: 21px 2px 21px 0px;
	justify-content: center;
	align-items: flex-start;
	gap: 62px;
}

.nav-flex li {
    list-style-type: none;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    display: inline;
}

.nav-flex li:hover {
    border-bottom: 2px solid black;
}

.nav-flex ul{
	display: flex;
	flex-direction: row;
	gap:62px;
	justify-content: center;
}


/* HOME STYLES */

/* HERO HOME */
.hero {
	background: #128EB7;
	display: inline-flex;
	padding-left: 80px;
	align-items: center;
}

.hero-mobile {
	display: flex;
	padding: 40px 20px 40px 20px;
	justify-content: center;
	align-items: center;
	background: #128EB7;
	height: ;
}

.hero-flex {
	display: flex;
	align-items: center;
	gap: 140px;
}

.hero-text {
	display: flex;
	width: 524px;
	flex-direction: column;
}

.hero-text-mobile {
	display: flex;
	width: 346px;
	flex-direction: column;
	align-items: flex-start;
	gap: 39px;
	flex-shrink: 0;
}

.hero-image{
	width: 766px;
	height: 552px;
	flex-shrink: 0;
}

/* HOURS HOME */

.hours-container {
	display: inline-flex;
	padding: 77px 80px 146px 80px;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.hours-container-mobile {
	display: flex;
	width: 393px;
	padding: 44px 300px 44px 20px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 72px;
}

.hours-flex {
	display: flex;
	align-items: flex-start;
	gap: 138px;
}

.hours-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 102px;
}



/* NEW LOCATION*/

.location-container {
	display:flex;
	padding: 66px 196px 66px 80px;
	background: var(--Color, #128EB7);
	max-width: 100%;
	height: 449px;
}

.location-container-mobile {
	display: inline-flex;
	padding: 37px 20px 64.693px 20px;
	flex-direction: column;
	align-items: center;
	background: var(--Color, #128EB7);
}

.location-flex {
	align-items: inline-flex;
}

.location-flex-mobile {
	display: flex;
	width: 343px;
	flex-direction: column;
	align-items: flex-start;
	gap: 43px;
}

.location-text {
	width: 435px;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 134px;
	padding-bottom: 117px;
}

.location-text-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.button-flex {
	flex-direction: column;
	align-items: flex-start;
	padding-left: 134px;
}


/* UPCOMING EVENTS */

.event-container {
	padding: 179px 160px 181px 80px;
	justify-content: center;
	align-items: center;
}

.event-container-mobile {
	display: inline-flex;
	padding: 37px 0px 41px 23px;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.event-flex {
	display: inline-flex;
	gap: 20px;
}

.event-flex-mobile {
	display: flex;
	width: 487px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 14px;
}

.event-box {
	display: flex;
	width: 323px;
	flex-direction: column;
	align-items: left;
}

.event-box-mobile {
	display: flex;
	width: 323px;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 20px;
}

.event-text-mobile {
	display: flex;
	width: 323px;
	flex-direction: column;
	align-items: flex-start;


}

/* GET INVOLVED */

.get-container {
	display: flex;
	width: 1512px;
	justify-content: center;
	align-items: center;
	background: #128EB7;
	padding-bottom: 73px;
	padding-top: 79px;

}

.get-container-mobile {
	display: flex;
	padding: 45px 24px 45px 25px;
	justify-content: center;
	align-items: center;
	background: #128EB7;
}

.get-flex {
	display: flex;
	width: 661px;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	flex-shrink: 0;
}

.get-flex-mobile{
	display: flex;
	width: 344px;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
}

.text-center {
	color: #FFF;
	text-align: center;
}


/* footer */

.line {
	width: 1273px;
	height: 1px;
	background: #000;

}

.line-mobile {
	width: 347px;
	height: 1px;
	background: #000;
	color: black;

}

.footer-container {
	margin: 90px 80px 90px 80px;
	height: 398px;
}

.footer-container-mobile {
	display: flex;
	width: 393px;
	padding: 31px 0px 31px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-flex {
	display: inline-flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-flex-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 35px;
	align-self: stretch;
}

.OSYS-footer {
	display: flex;
	width: 499.847px;
	flex-direction: column;
	align-items: flex-start;
	gap: 53px;
	padding-right: 416.15px;
}

.link-flex {
	display: flex;
	align-items: center;
	gap: 104px;
	align-self: stretch;
}

.link-flex-mobile{
	display: flex;
	width: 296px;
	justify-content: space-between;
	align-items: center;
}

.footer-office {
	display: flex;
	width: 437px;
	flex-direction: column;
	align-items: flex-start;
	gap: 46px;
}

.line-land {
	padding-top: 42px;
	display: flex;
	width: 1353px;
	flex-direction: column;
	align-items: flex-start;
	gap: 42px;

}

.icon-flex{
	display: flex;
	height: 38.091px;
	padding-right: 57.136px;
	align-items: flex-start;
	gap: 76.182px;
	width: 200;
}

.logo-content-mobile{
	gap: 39px;
}


/* DONATE STYLES */

/* DONATE HERO */

.donate-hero-container {
	display: flex;
	padding: 98px 80px 144.25px 80px;
	justify-content: flex-end;
	align-items: center;
	background: #128EB7;
}

.donate-hero-container-mobile {
	display: flex;
	padding-top: 40px;
	padding-bottom: 60px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 57px;
	background: #128EB7;
	height: 356px;
}

.donate-hero-flex {
	display: flex;
	width: 1352px;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.donate-hero-flex-mobile {
	display: flex;
	width: 344px;
	flex-direction: column;
	align-items: center;
	gap: 28px;
}



/* DONATE ITEMS */

.items-container {
	display: flex;
	height: 559px;
	padding: 66px 88px 103px 81px;
	align-items: center;
}

.items-container-mobile {
	display: flex;
	padding: 47px 20px 47 20px;
	flex-direction: column;
	align-items: center;
	gap: 55px;
	flex-shrink: 0;
}

.items-flex {
	display: flex;
	align-items: center;
	gap: 135px;
}

.items-flex-mobile{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 31px;
}

.items-text {
	display: flex;
	width: 544px;
	flex-direction: column;
	align-items: flex-start;
	gap: 48px;
}

/* DONATE FUNDRAISER */

.fundraiser-container {
	display: flex;
	height: 560px;
	justify-content: flex-end;
	align-items: center;
	background: #128EB7;
}

.fundraiser-container-mobile {
	display: flex;
	padding: 37px 26px 48.693px 24px;
	flex-direction: column;
	align-items: center;
	background: var(--Color, #128EB7);
}

.fundraiser-flex {
	display: flex;
	align-items: center;
	padding-left: 141px;
}

.fundraiser-flex-mobile {
	display: flex;
	width: 343px;
	flex-direction: column;
	align-items: flex-start;
	gap: 39px;
	align-items: center;
}

.fundraiser-content {
	display: flex;
	width: 656px;
	flex-direction: column;
	align-items: flex-start;
	gap: 61px;
}

.fundraiser-content-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}


.img-padding{
	padding-left: 50px;
}

.img-padding-bottom{
	padding-bottom: 50px;
}



/* SERVICE STYLES */

/* SERVICE HERO */

.service-container { 
	display: inline-flex;
	padding-left: 76px;
	justify-content: flex-end;
	align-items: center;
	background: #128EB7;
}

.service-flex {
	display: flex;
	align-items: center;
	gap: 100px;
}
.service-text {
	display: flex;
	width: 660px;
	flex-direction: column;
	align-items: flex-start;
	gap: 35px;
}

/* SERVICE LIST */

.service-list-container {
	display: inline-flex;
	padding-left: 76px;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}

.service-buttons-flex {
	display: flex;
	width: 1317px;
	align-items: flex-start;
	align-content: flex-start;
	gap: 20px;
	flex-wrap: wrap;
	padding-top: 82px;
}

.services-block1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 61px;
	padding-top: 89px;
	padding-bottom: 100px;
}

.grey-box {
	display: flex;
	width: 551px;
	height: 440px;
	padding: 23px 35px;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	background: #E0E0E0;
}

.grey-box-row {
	display: flex;
	width: 1317px;
	justify-content: space-between;
	align-items: center;
}

.essential-support-services {
	display: flex;
	width: 1234px;
	flex-direction: column;
	align-items: flex-start;
	gap: 61px;
}


/* VOLUNTEER STYLES */

/* Volunteer hero */

.volunteer-hero-container {
	display: inline-flex;
	padding-left: 76px;
	justify-content: flex-end;
	align-items: center;
	height: 552px;
	background: #128EB7;
}

.volunteer-hero-flex {
	display: flex;
	align-items: center;
	gap: 92px;
}

.volunteer-hero-content {
	display: flex;
	width: 594px;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}

/* Volunteer hero mobile */

.volunteer-hero-container-mobile{
display: flex;
padding: 40px 23px 69px 24px;
flex-direction: column;
align-items: center;
background: #128EB7;
}

.volunteer-hero-content-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}

/* types of volunteer */

.grey-box-volunteer {
	display: flex;
	width: 551px;
	height: 411px;
	padding: 23px 35px;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	background: #E0E0E0;
}

.grey-box-volunteer-mobile {
	display: flex;
	height: 450px;
	padding: 34px 28px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	background: #E0E0E0;
	width:345px;
}

.grey-box-column {
	display: flex;
	flex-direction: column;
	gap: 33px;
	justify-content: space-between;
	align-items: center;
}

.types-container {
	width: 1512px;
	height: 698px;
	flex-shrink: 0;
	margin: 0 80px;
}

.types-container-mobile {
	display: flex;
	width: 393px;
	padding: 47px 24px 44px 24px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 33px;
}


.types-flex{
	display: flex;
	width: 1237px;
	flex-direction: column;
	align-items: flex-start;
	gap: 50px;
}

.types-flex-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 33px;
}
.gap{
	gap: 20px;
}


/* board */
.board-content{
	display: flex;
	width: 550px;
	flex-direction: column;
	align-items: flex-start;
	gap: 140px;
}

.board-content-join{
	display: flex;
	width: 550px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}


/* Join our board */

.board-container{
	display: inline-flex;
	padding: 73px 196px 73px 80px;
	align-items: center;
	background: #128EB7;
}

.board-container-mobile{
	display: flex;
	padding: 37px 26px 62.693px 24px;
	flex-direction: column;
	align-items: center;
	background: var(--Color, #128EB7);
}

.board-flex {
	display: flex;
	align-items: flex-start;
	gap: 137px;
}

.board-flex-mobile{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 29px;
	align-self: stretch;
}

.board-content-mobile{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 51px;
}


.hidden-desktop {
	display: none;
}

/* -----MEDIA QUERIES----- */ 

/* SMARTPHONE */

@media screen and (max-width: 480px) {

    .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }

    .margin-default {
        margin: 0 24px;
    }

    .padding-40 {
        padding: 24px 0;
    }

    .grid-2 {
    display: grid;
    grid-template: auto / 1fr;
    }

    .is-hidden {
        display: none;
    }

    .footer-1-wrap {
    display: flex;
    flex-direction: column;
    }

    .footer-nav {
    display: inline;
    }

}


/* TABLET */

@media screen and (max-width: 768px) and (min-width: 481px) {
    
     .hidden-mobile {
        display: none;
    }
    
    .hidden-desktop{
        display: flex;
    }

    .margin-default{
        margin:0 24px;
    }
    
    .padding-40{
        padding:24px 0;

    }

    .grid-2 {
        display: grid;
        grid-template: auto / 1fr;
        column-gap: 104px;
    }

    .is-hidden{
        display: none;
    }

    .footer-1-wrap {
    display: flex;
    flex-direction: column;
    }

    .footer-left {
    grid-column: 1 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .footer-right {
    grid-column: 7 / span 6;

    .footer-nav {
    display: inline;
    margin-bottom: 48px;
    }
}

/* LAPTOP */

@media screen and (max-width: 1279px) and (min-width: 769px) {
   .hidden-mobile {
        display: flex;
    }

    .hidden-desktop {
        display: none !important;
    }

    .margin-default{
    	margin:0 80px;
    }
}

/* DESKTOP */

@media screen and (max-width: 1440px) and (min-width: 1280px) {
   .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }

     .margin-default{
    	margin:0 80px;
    }
}

/* EXTRA-LARGE */

@media screen and (min-width: 1441px) {
   .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }
}
